{% comment %}
Usage: {% include "partials/multi_select_section.html" with section_name="Section Name" data="data_type" items=items user_items=user_items %}
{% endcomment %}

{% load static %}

{% if not is_profile %}
  <div class="forms-div">
      <div class="flex flex-wrap gap-16 element-content-field justify-content-between">
        <div class="flex">
          <h3 class="big-text bold">{{ section_name }}</h3>
        </div>
        <button type="button" class="clickable edit-icons-text" id="edit-{{ section_name|slugify }}-btn" aria-label="Add new {{ section_name }}">
          <img src="{% static 'icons/add-element.svg' %}" alt="" aria-hidden="true" />
          <span class="accent-text small-text">ADD NEW</span>
        </button>
      </div>
      
      {% comment %} Select Items From Dropdown {% endcomment %}
      
      <div class="element-form-field flex-column" style="display: none;">
        {% include "partials/multi_select_selection-dropdown.html" with section_name=section_name data=data items=items user_items=user_items %}
        <div class="d-flex">
          <button type="button" class="forms-submit-button button dark-button" id="save-{{ section_name|slugify }}-btn">
            Done
          </button>
        </div>
      </div>
  </div>
    
    {% comment %} List Selected Items {% endcomment %}
    {% include "partials/multi_select_selection-values.html" with items=user_items %}

{% else %}
  <div class="d-flex items-container" aria-live="polite" aria-relevant="additions removals">
    {% for item in items %}
      <div class="{% if item in user_items %}flex{% else %}d-none{% endif %} items-box {{ data }}-items" data-id={{ forloop.counter0 }} role="listitem" style="background-color:{{ item.color }}; padding-right:24px; border: none;">
        <div class="icons-text">
          {% if item.icon %}
            <img src="{{ item.icon.url }}" alt="" aria-hidden="true" />
          {% endif %}
          <p style="color:white;">{{ item.name }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}