/* THIS IS WHERE ALL THE STYLES FOR THE FORMS, BUTTONS & .... ARE STORED */


/* PRIMARY COMPONENTS */


/* BUTTONS */
.button-div {
    display: flex;
}

.button {
    display: flex;
    justify-content: center;
    padding: 16px 32px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    min-width: 140px;
}


.dark-button {
    background-color: var(--primary-purple);
    color: var(--white);
}

.dark-button:hover {
    background-color: var(--secondary-purple);
}


/* SECONDARY ACTIONS */

.clickable {
    cursor: pointer;
}


@media only screen and (max-width: 576px) {
    .button {
        width: 90vw;
    }

    button.button {
        width: 100%;
    }
}

/* This is for the button tag not class */

button {
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    border: none;
    background: none;
    cursor: pointer;
}



/* FORMS */

.forms {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.forms_div {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}


.forms-split-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 16px;
}



.forms label {
    font-size: 1rem;
    font-weight: 500;
}

.forms label.required::after {
    content: " *";
    color: #AF2A1A;
}

.forms .input {
    padding: 14px;
    font-size: 1rem;
    font-family: 'poppins', sans-serif;
    border-radius: 8px;
    border: 1px solid var(--brand-gray);
    width: 100%;
}

.forms .input:focus {
    outline: var(--secondary-purple);
    border: 1px solid var(--secondary-purple);
}


.input::placeholder {
    color: #575C62;
    font-size: 1rem;
}


.password-container {
    position: relative;
}

.eye {
    fill: var(--secondary-purple);
    position: absolute;
    right: 12px;
    top: 70%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    width: 20px;
}


/* SETUP CHECKBOX */
.checkbox-div {
    margin-top: 8px;
    display: flex;
    flex-direction: row !important;
    gap: 10px !important;
}

.checkbox-div label {
    font-size: 0.875rem;
    font-weight: 400;
}

.checkbox-div input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--brand-gray);
    padding: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}

.checkbox-div input[type="checkbox"]:checked {
    background-color: var(--primary-purple);
    border-color: var(--primary-purple);
    position: relative;
}

.checkbox-div input[type="checkbox"]:checked::before {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.forms .button {
    margin-top: 24px;
}

.forms-warning {
    display: flex;
    flex-direction: row !important;
    align-items: center;
}

.forms-warning img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}


/* FORMS RESPONSIVE */

@media only screen and (max-width: 576px) {
    .forms-split-div {
        flex-direction: column;
    }

    .checkbox-div input[type="checkbox"] {
        width: 30px;
    }
}