.profile-header-container {
    height: 240px;
    background: var(--purple-hue-background);
}


.profile-view-logo {
    max-width: 25%;
}


.profile-body {
    padding: 0 48px;
}

.profile-info {
    width: 440px;
    height: -moz-max-content;
    height: -webkit-max-content;
    height: max-content;
    background-color: var(--white);
    padding: 40px 32px;
    padding-bottom: 52px;
    margin-top: -8%;
    border-radius: 16px;
}


.profile-main {
    width: 853px;
    min-height: 1200px;
    padding: 40px 5% 80px 0px;
}

.badge-box {
    padding: 32px 48px 32px 24px;
    background-color: var(--light-hue);
    border-radius: 16px;
    background-image: url('/static/images/badge-box-bg.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}


.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
    background-color: var(--brand-gray);
}

.profile-org-items {
    padding: 24px 0;
    border: 1px solid var(--brand-gray);
    border-left: 0;
    border-right: 0;
}

.org-img-box {
    border-radius: 8px;
    background-color: var(--light-hue);
    padding: 3px;
    padding-bottom: 1px;
}

.org-img {
    width: 90px;
    height: 90px;
    object-fit: contain;
    background-color: var(--white);
    border-radius: 8px;
    padding: 10px;
}

.org-h-box {
    height: 100px;
    width: 100px;
    min-width: 100px;
    background-color: var(--light-hue);
    border-radius: 8px;
}


.org-h {
    font-size: 60px;
    color: #2E3058;
}

.profile-skills-item {
    width: -moz-fit-content;
    width: fit-content;
    padding: 16px 32px;
    background-color: var(--light-hue);
    border-radius: 8px;
}


@media only screen and (max-width: 1200px) {
    .profile-main {
        padding: 40px 0;
    }
}


@media only screen and (max-width: 992px) {
    .profile-body {
        padding: 0 24px;
    }

    .profile-info {
        margin-top: -10%;
    }
}


@media only screen and (max-width: 768px) {
    .profile-header-container {
        height: 200px;
    }

    .profile-view-logo {
        display: none;
        max-width: 250px;
        margin-bottom: 40px;
    }

    .profile-info {
        width: 100%;
        margin-top: -160px;
    }

    .profile-main {
        width: 100%;
    }
}


@media only screen and (max-width: 576px) {
    /* .profile-info {
        margin-top: -160px;
    } */
}