{% load static %}

<div class="d-none d-lg-flex close-menu" id="close-menu">
    <img src="{% static 'icons/white-x-close.svg' %}">
</div>

<div class="d-flex flex-column gap-20">
    {% if not user.is_anonymous and not is_dashboard %}
        <a href="{% url 'profile' user.username %}"><div class="d-flex gap-16 sidebar-menu-items">
            <img src="{% static 'icons/umbrella.svg' %}" alt="">
            <p class="small-text">MasterGiver Profile</p>
        </div></a>
    {% endif %}
    <a href="{% url 'edit_profile' %}"><div class="d-flex gap-16 sidebar-menu-items">
        <img src="{% static 'icons/settings.svg' %}" alt="">
        <p class="small-text">Account Setting</p>
    </div></a>
    <a href="{% url 'logout' %}"><div class="d-flex gap-16 sidebar-menu-items">
        <img src="{% static 'icons/log-out.svg' %}" alt="">
        <p class="small-text">Log Out</p>
    </div></a>
</div>