{% load static %}

<div class="d-none d-lg-flex close-menu" id="close-menu">
    <img src="{% static 'icons/white-x-close.svg' %}">
</div>

<div class="d-flex flex-column gap-20">
    {% comment %} {% if not user.is_anonymous and not is_dashboard %} {% endcomment %}
        <a href="{% url 'dashboard' %}"><div class="d-flex gap-16 sidebar-menu-items {% if is_dashboard %} active-sidebar-menu-items {% endif %}">
            <img src="{% static 'icons/umbrella.svg' %}" alt="">
            <p class="small-text">Dashboard</p>
        </div></a>
    {% comment %} {% endif %} {% endcomment %}
    <a href="{% url 'edit_profile' %}"><div class="d-flex gap-16 {% if page == "edit_profile" or page == "change_password" %} active-sidebar-menu-items {% endif %} sidebar-menu-items">
        <img src="{% static 'icons/settings.svg' %}" alt="">
        <p class="small-text">Account Settings</p>
    </div></a>
    <a href="{% url 'logout' %}"><div class="d-flex gap-16 sidebar-menu-items">
        <img src="{% static 'icons/log-out.svg' %}" alt="">
        <p class="small-text">Log Out</p>
    </div></a>
</div>