{% extends 'layout.html' %}
{% load static %}

{% block title %}
    {% block page_title %}{% endblock %}
{% endblock %}


{% block styles %}
    <link href="{% static 'styles/profile.css' %}" rel="stylesheet" />
    {% block page_styles %}{% endblock %}
{% endblock %}

{% block body %}
    <div class="d-none d-xl-flex">
        {% include "header.html" %}
    </div>

    <div class="d-flex relative">
        {% comment %} USER ACCOUNT MENU {% endcomment %}
        <div class="flex d-xl-none flex-column dashboard-sidebar gap-32">
            <div class="sidebar-brand-logo">
                <a href="{% url 'dashboard' %}" class="d-flex align-items-start gap-8">
                    <img src="{% static "brand elements/logo-white.svg" %}" alt="" width="100px"><span style="color: white; font-size: 0.75rem; line-height: 1rem">BETA</span>
                </a>
            </div>

            {% include 'dashboard-menu.html' %}
        </div>

        {% comment %} PAGE CONTENT {% endcomment %}
        <div class="page-content">
            {% block page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {% block page_scripts %}{% endblock %}
{% endblock %}