<!-- prettier-ignore -->

{% load static %}

<footer class="d-flex flex-column align-items-center">
  <section class="d-grid footer container">
    <div id="#footer-logo">
      <a href="{% url 'home' %}" class="logo-container"
        ><img class="logo" src="{% static "images/Master Giver Logo.svg" %}"
        alt="Master Giver Logo" /></a
      >
    </div>
    <div class="d-flex flex-column" id="resources">
      <h3 class="bold">Resources</h3>
      <ul class="d-flex list-gap flex-column small-text">
        <li>FAQ</li>
        <li>Blog</li>
        <li>Register Your Organisation</li>
      </ul>
    </div>
    <div class="d-flex flex-column" id="company">
      <h3 class="bold">Company</h3>
      <ul class="d-flex list-gap flex-column small-text">
        <li>About Us</li>
        <li>Security</li>
        <li>Legal</li>
      </ul>
    </div>
    <div class="d-flex flex-column" id="contact-info">
      <h3 class="bold">Contact Info</h3>
      <ul class="d-flex list-gap flex-column small-text">
        <li>support@mastergiver.org</li>
        <li>75 Fifth St, Suite 2200 Atlanta, GS 30308</li>
      </ul>
      <div class="d-flex social-links">
        <a href=""
          ><img
            src="{% static 'images/facebook.svg' %}"
            alt="follow us on facebook"
        /></a>
        <a href=""
          ><img
            src="{% static 'images/linkedin.svg' %}"
            alt="follow us on linkedin"
        /></a>
        <a href=""
          ><img
            src="{% static 'images/twitter.svg' %}"
            alt="follow us on twitter"
        /></a>
        <a href=""
          ><img
            src="{% static 'images/instagram.svg' %}"
            alt="follow us on instagram"
        /></a>
      </div>
    </div>
  </section>
  <section class="d-flex justify-content-center footer-credit">
    <p>MasterGiver &copy; 2024</p>
  </section>
</footer>
