<!-- prettier-ignore -->

{% load static %}

<header class="d-flex justify-content-center align-center">
  <section
    class="d-flex container align-items-center justify-content-between header"
  >
    <div>
      <a href="{% url 'home' %}" class="logo-container"
        ><img class="logo" src="{% static "images/Master Giver Logo.svg" %}"
        alt="Master Giver Logo" /></a
      >
    </div>
    <div>
      <nav class="d-flex align-items-center nav-menu d-xs-none">
        <a href="">
          <div class="button light-btn">Login</div>
        </a>
        <a href="{% url 'signup' %}">
          <div class="button dark-button">Sign Up</div>
        </a>
      </nav>
      <div class="hamburger-menu d-none d-sm-flex">
        <img src="{% static '/images/mobile-menu.svg' %}" alt="mobile-menu" />
      </div>
    </div>
  </section>
</header>
