{% load static %}

<header class="d-flex justify-content-center align-center white-bg">
  <section class="d-flex container align-items-center justify-content-between header">
    <!-- Logo -->
    <div>
      <a href="{% url 'home' %}" class="logo-container">
        <img class="logo" src="{% static "images/Master Giver Logo.svg" %}" alt="Master Giver Logo" />
      </a>
    </div>
    
    <!-- Navigation -->
    <div>
        {% if user.is_anonymous and page_type == 'static' %}
        <!-- Desktop Navigation -->
        <nav class="d-flex align-items-center nav-menu">
          <a href="{% url 'login' %}">
            <div class="buttonlight-btn" id="login-btn">Login</div>
          </a>
          <a href="{% url 'signup' %}" class="d-sm-none">
            <div class="button dark-button">Sign Up</div>
          </a>
        </nav>

        {% elif user.is_authenticated and not is_signup_flow %}

          <!-- Mobile Navigation (Hamburger Menu) -->
          <div class="hamburger-menu d-none d-xl-flex" id="hamburger-menu">
            <img src="{% static '/images/mobile-menu.svg' %}" alt="mobile-menu" />
          </div>
        {% endif %}
      </div>
  </section>
</header>