
{% load static %}
<div class="d-flex align-items-center justify-content-center profile-header-container">
    {% if is_profile %}
    <a href="{% url 'dashboard' %}" class="d-lg-none">
        <div class="align-items-center flex" style="color: #226094; position: absolute; top: 32px; left: 32px;">
        <img src="{% static 'icons/chevron-left.svg' %}" alt="">
            Back to my Dashboard
        </div>
    </a>
    {% endif %}
    <img class="profile-view-logo" src="{% static "images/Master Giver Logo.svg" %}" alt="" width="300px">
</div>
<div class="d-flex flex-column align-items-center secondary-bg">
    <div class="d-flex container flex-md-column justify-content-between gap-32 profile-body">
        <div class="d-flex flex-column profile-info gap-48">
            <div class="d-flex flex-column align-items-center text-center gap-24">
                {% if userInfo.profile_photo %}
                    <img src="{{ userInfo.profile_photo.url }}" alt="{{ userInfo.first_name }} profile picture" class="profile-picture" />
                {% else %}
                    <img src="{% static 'icons/upload.svg' %}" alt="{{ userInfo.first_name }} profile picture" class="profile-picture" />
                {% endif %}
                <div class="gap-16">
                    <h1 class="heading">{{ userInfo.first_name }} {{ userInfo.last_name }}</h1>
                    <p>{{ userInfo.city }}, {{ userInfo.state }}</p>
                </div>
            </div>


            <div class="d-flex flex-column gap-48">
                <div class="d-flex flex-column gap-32 expandable-box">
                    <div class="d-flex flex-column gap-16">
                        <h2 class="big-text bold">About Me</h2>
                        <p class="truncated-text">{{ userInfo.about_me|truncatechars:135 }}</p>
                        {% if userInfo.about_me|length > 135 %}
                            <p class="d-none full-text">{{ userInfo.about_me }}</p>
                        {% endif %}
                    </div>
                    {% if userInfo.about_me|length > 135 %}
                        <div class="d-flex align-items-center gap-4 semi-bold clickable accent-text" id="read-more-btn">
                            READ MORE <img src="{% static 'icons/chevron-right.svg' %}" alt="Read More" />
                        </div>
                        <div class="d-none align-items-center gap-4 semi-bold clickable accent-text" id="read-less-btn">
                            READ LESS <img src="{% static 'icons/chevron-right.svg' %}" alt="Read Less" />
                        </div>
                    {% endif %}
                </div>
                
                <hr class="line">

                <div class="d-flex flex-column gap-32 expandable-box">
                    <div class="d-flex flex-column gap-16">
                        <h2 class="big-text bold">Why I Give</h2>
                        <p class="truncated-text">{{ userInfo.giving_motivation|truncatechars:135 }}</p>
                        {% if userInfo.giving_motivation|length > 135 %}
                            <p class="d-none full-text">{{ userInfo.giving_motivation }}</p>
                        {% endif %}
                    </div>
                    {% if userInfo.about_me|length > 135 %}
                        <div class="d-flex align-items-center gap-4 semi-bold clickable accent-text" id="read-more-btn">
                            READ MORE <img src="{% static 'icons/chevron-right.svg' %}" alt="Read More" />
                        </div>
                        <div class="d-none align-items-center gap-4 semi-bold clickable accent-text" id="read-less-btn">
                            READ LESS <img src="{% static 'icons/chevron-right.svg' %}" alt="Read Less" />
                        </div>
                    {% endif %}
                </div>
                
            </div>

            {% if user.is_authenticated and user.username == userInfo.username and is_profile %}
                <hr class="line">
                <a href="{% url 'edit_profile' %}">
                    <div class="d-flex justify-content-center button green-button">Edit My Profile</div>
                </a>
            {% endif %}
        </div>
        <div class="d-flex flex-column profile-main gap-64">
            <div class="d-flex flex-column gap-40">
                <h2 class="heading">💕 My Organizations & Causes</h2>
                <div>
                    {% for organization in pledge_organizations %}
                        <div class="d-flex align-items-center gap-24 profile-org-items">
                            <div class="org-img-box">
                                <img src="{{ organization.logo }}" alt="" class="org-img">
                            </div>
                            <p class="small-heading-slim">{{ organization.name }}</p>
                        </div>
                    {% endfor %}

                    {% for organization in user_organizations %}
                        <div class="d-flex align-items-center gap-24 profile-org-items">
                            <div class="d-flex justify-content-center align-items-center org-h-box">
                                <h3 class="small-heading-slim org-h">{{ organization.name|capfirst|first }}</h3>
                            </div>
                            <p class="small-heading-slim">{{ organization.name|capfirst }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex flex-column gap-40">
                <div class="d-flex flex-column gap-20">
                    <h2 class="heading">What I Care About</h2>
                    <!-- 5. What I Care About Section -->
                    {% include "partials/multi_select_section.html" with section_name="What I Care About" data="causes" items=causes user_items=user_causes %}
                </div>
                <hr class="line">
                <div class="d-flex flex-column gap-32">
                    <h2 class="heading">Giving Skills</h2>
                    <div class="d-flex flex-wrap gap-16 profile-skills-items">
                        {% for skill in user_skills %}
                            <div class="profile-skills-item">
                                <p class="big-text bold">{{ skill }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
