{% extends "login-flow.html" %}
{% load static %}

{% block page_title %}You've Reset Your Password{% endblock %}
{% block page_body %}
<!-- Main container for the signup form -->
<div class="d-flex flex-column align-items-center gap-40">
  <div class="d-flex flex-column align-items-center gap-20">
      <img src="{% static 'images/confirmation-icon.svg' %}" alt="" width="106px" height="106px">
      <h2 class="small-heading text-center bold">Password Changed</h2>
      <p class="mid-size">Your password has been changed successfully.</p>
    </div>
    <a href="{% url 'login' %}">
        <button class="button dark-button">Back to Login</button>
    </a>
</div>
{% endblock %}

{% block page_scripts %}
{% endblock %}