{% extends "signup-flow.html" %}
{% load static %}

{% block page_title %}Profile Preview{% endblock %}
{% block page_styles %}
    <link rel="stylesheet" href="{% static 'styles/confirmation.css' %}" />
{% endblock %}

{% block page_body %}

<!-- Main container -->
 <div class="d-flex flex-column gap-48">
    <div class="d-flex flex-column align-items-center gap-32">
        <img src="{% static 'images/confirmation-icon.svg' %}" alt="" width="106px" height="106px">
        <h2 class="small-heading text-center bold">Congratulations, your account has been successfully created.</h2>
    </div>

    <form method="POST">
        <div class="d-flex flex-column gap-20 align-items-center content-bordered-box">
            {% csrf_token %}
            <h3 class="big-text text-center bold">We’d love to know you better.<br>Which Best Describes Your Giving Style?</h3>
            {% for giving_style in giving_styles %}
                <div class="d-flex radio-div align-items-start gap-16" role="option" aria-selected="false">
                    <input
                    type="radio"
                    name="giving_style"
                    id="{{ giving_style.name }}"
                    value="{{ giving_style.name }}"
                    />
                    <label for="{{ giving_style.name }}" class="small-text d-flex flex-column align-items-start gap-8">
                        <p class="bold">{{ giving_style.name }}</p>
                        <p class="small-text">{{ giving_style.description }}</p>
                    </label>
                </div>
            {% endfor %}
            <p>By understanding your unique giving style, we can better tailor your MasterGiver experience to suit your values and goals. Thank you for sharing!</p>
            <div class="d-flex justify-content-between gap-24">
                <button type="submit" class="button dark-button">Submit</button>
                <button class="link">
                    <a href="{% url 'dashboard' %}">No Thanks.  Take me to my Profile</a>
                </button>
            </div>
        </div>
    </form>
    <div class="d-none flex-column gap-16">
        <div class="d-flex flex-sm-column gap-20 align-items-sm-center content-bordered-box">
            <img src="{% static 'images/user-dashboard.svg' %}" alt="" width="80px" height="80px">
            <div class="d-flex flex-column align-items-sm-center gap-24">
                <p class="mid-size text-sm-center">Go to your Dashboard to explore your new profile.</p>
                <a href="{% url 'dashboard' %}">
                    <button class="button dark-button">Go to Dashboard</button>
                </a>
            </div>
        </div>
        <div class="d-flex flex-sm-column align-items-sm-center gap-20 content-bordered-box">
            <img src="{% static 'images/refer-friend.svg' %}" alt="" width="80px" height="80px">
            <div class="d-flex flex-column align-items-sm-center gap-24">
                <p class="mid-size text-sm-center">Refer a friend to join Mastergiver and expand your network.</p>
                <a href="{% url 'dashboard' %}">
                    <button class="button green-button">Refer a Friend</button>
                </a>
            </div>
        </div>
    </div>
 </div>

{% endblock %}

{% block page_scripts %}{% endblock %}