{% extends "template1.html" %} {% load static %} {% block page_title %}Profile
Preview{% endblock %} {% block page_body %}
<!-- Main container -->
<div class="form-header">
  <h1 class="small-heading">Account Preview</h1>
</div>

<form
  class="d-flex flex-column align-items-start forms"
  enctype="multipart/form-data"
  action="{% url 'preview_profile' %}"
  method="POST"
>
  {% csrf_token %}

  <!-- 1. Profile Picture Section -->
  <div class="forms-div upload-form">
    <h3 class="big-text bold">Profile Picture</h3>
    <div class="d-flex align-items-center align-items-sm-start flex-sm-column">
      <!-- Profile picture display -->
      <div>
        <label for="upload-image">
          {% if user.profile_photo %}
          <img
            src="{{ user.profile_photo.url }}"
            alt="profile picture"
            class="upload-image-icon"
            id="profile-picture"
            width="136"
          />
          {% else %}
          <img
            src="{% static 'icons/upload.svg' %}"
            alt="upload-profile picture"
            class="upload-image-icon"
            id="profile-picture"
            width="136"
          />
          {% endif %}
        </label>
      </div>
      <!-- Upload and delete buttons -->
      <div>
        <div>
          <input
            id="upload-image"
            type="file"
            name="profile_photo"
            accept="image/*"
            class="d-none"
          />
          <label class="dark-button button" for="upload-image"
            >Upload New Picture</label
          >
          <div class="light-button button" class="delete-profile-pic-button">
            Delete
          </div>
          {% if not user.profile_photo %}
          <p id="file-chosen" class="small-text">No file selected</p>
          {% endif %}
        </div>
        <p class="small-text">
          The profile picture must be in GIF, JPG, or PNG format, with a maximum
          file size of 2MB.
        </p>
      </div>
    </div>
  </div>

  <hr class="line" />

  <!-- 2. Account Details Section -->
  <h3 class="big-text bold">Account Details</h3>

  <!-- 2.1 Name -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p>Your Name</p>
        <p class="bold" id="fullname">
          {{ user.first_name }} {{user.last_name}}
        </p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="forms-split-div">
        <div class="col-6 col-12-sm forms-div">
          <label for="first_name" class="small-text required">First Name</label>
          <input
            type="text"
            id="first_name"
            name="first_name"
            placeholder="John"
            value="{{ user.first_name }}"
            class="input fullname"
            required
          />
        </div>
        <div class="col-6 col-12-sm forms-div">
          <label for="last_name" class="small-text required">Last Name</label>
          <input
            type="text"
            id="last_name"
            name="last_name"
            placeholder="Doe"
            class="input fullname"
            value="{{ user.last_name }}"
          />
        </div>
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="fullname"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <!-- 2.2 Email -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p>Your Email Address</p>
        <p class="bold" id="email">{{ user.email }}</p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="col-6 col-12-sm forms-div">
        <label for="email" class="small-text required">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          class="input email"
          value="{{ user.email }}"
          required
        />
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="email"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <!-- 2.3 State -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p>State</p>
        <p class="bold" id="state">{{ user.state }}</p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="flex-row-sm relative forms-div">
        <label for="state" class="small-text required">State</label>
        <input
          type="text"
          id="state"
          name="state"
          placeholder=""
          class="input state"
          required
          value="{{ user.state }}"
        />
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="state"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <!-- 2.4 City -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p>City</p>
        <p class="bold" id="city">{{ user.city }}</p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="relative forms-div">
        <label for="city" class="small-text required">City</label>
        <input
          type="text"
          id="city"
          name="city"
          placeholder=""
          class="input city"
          value="{{ user.city }}"
          required
        />
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="city"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <hr class="line" />

  <!-- 3. About Me Section -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p class="bold">About Me</p>
        <p class="" id="about_me">{{ user.about_me }}</p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="forms-div">
        <label for="about_me" class="small-text required">About Me</label>
        <textarea
          class="input about_me"
          name="about_me"
          id="about_me"
          rows="4"
          placeholder="Your personal and professional bio here"
          value="{{ user.about_me }}"
        ></textarea>
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="about_me"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <!-- 4. Why I Give Section -->
  <div class="forms-div">
    <div class="d-flex element-content-field">
      <div class="forms-div">
        <p class="bold">Why I Give</p>
        <p class="" id="why_i_give">{{ user.why_i_give }}</p>
      </div>
      <p class="accent-text bold small-text clickable" id="edit-element-btn">
        Edit
      </p>
    </div>
    <div class="element-form-field d-flex flex-column">
      <div class="forms-div">
        <label for="why_i_give" class="small-text required">Why I Give</label>
        <textarea
          class="input why_i_give"
          name="why_i_give"
          id="why_i_give"
          rows="4"
          placeholder="Provide details on why giving is important to you"
          value="{{ user.why_i_give }}"
        ></textarea>
      </div>
      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="why_i_give"
          id="save-element-btn"
        >
          Save
        </div>
      </div>
    </div>
  </div>

  <hr class="line" />

  <!-- 5. What I Care About Section -->
  <div class="forms-div">
    <div class="flex element-content-field justify-content-between">
      <div class="flex">
        <h3 class="big-text bold">What I Care About</h3>
      </div>
      <div class="clickable edit-icons-text" id="edit-element-btn">
        <img
          src="{% static 'icons/add-element.svg' %}"
          alt=""
          id="edit-element-btn"
        />
        <p class="accent-text small-text" id="edit-element-btn">ADD NEW</p>
      </div>
    </div>

    <div class="element-form-field flex-column">
      <div class="forms-div relative">
        <label
          for="what_i_care_about"
          class="small-text required"
          id="what_i_care_about_label"
          >What I Care About</label
        >
        <input
          type="text"
          id="what_i_care_about"
          placeholder="Select one or more causes you care to support"
          class="input"
          aria-labelledby="what_i_care_about_label"
          aria-required="true"
          aria-haspopup="true"
          aria-expanded="false"
        />

        <!-- Dropdown for selecting causes -->
        <div
          class="absolute dropdown-list"
          id="causes-dropdown"
          role="listbox"
          aria-labelledby="what_i_care_about_label"
        >
          <h4 class="bold dropdown-h" id="causes-dropdown-title">
            What I Care About
          </h4>
          <div class="dropdown-ul">
            {% for cause in causes %}
            <div
              class="checkbox-div justify-content-between align-items-center"
              role="option"
              aria-selected="false"
            >
              <label for="{{ cause.name }}" class="small-text icons-text">
                <img src="{{ cause.icon.url }}" alt="" aria-hidden="true" />
                {{ cause.name }}
              </label>
              {% if cause in user_causes %}
              <input
                type="checkbox"
                name="causes"
                id="{{ cause.name }}"
                class="causes-check skill-causes-items"
                value="{{ cause.id }}"
                aria-labelledby="causes-dropdown-title"
                checked
              />
              {% else %}
              <input
                type="checkbox"
                name="causes"
                id="{{ cause.name }}"
                class="causes-check skill-causes-items"
                value="{{ cause.id }}"
                aria-labelledby="causes-dropdown-title"
              />
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="dropdown-btn">
            <div
              class="button dark-button"
              id="causes-btn"
              role="button"
              aria-label="Save selected causes"
            >
              Save
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="why_i_give"
          id="save-element-btn"
        >
          Done
        </div>
      </div>
    </div>
  </div>

  <!-- Container for displaying selected causes -->
  <div
    class="d-flex items-container"
    aria-live="polite"
    aria-relevant="additions removals"
  >
    {% for cause in causes %} {% if cause in user_causes %}
    <div class="flex items-box causes-items" role="listitem">
      <div class="icons-text">
        <img src="{{ cause.icon.url }}" alt="" aria-hidden="true" />
        <p>{{ cause.name }}</p>
      </div>
      <div>
        <img
          src="{% static '/icons/x-close.svg' %}"
          alt="Remove {{ cause.name }}"
          class="remove-parent clickable"
          role="button"
          aria-label="Remove {{ cause.name }}"
        />
      </div>
    </div>
    {% else %}
    <div class="d-none items-box causes-items" role="listitem">
      <div class="icons-text">
        <img src="{{ cause.icon.url }}" alt="" aria-hidden="true" />
        <p>{{ cause.name }}</p>
      </div>
      <div>
        <img
          src="{% static '/icons/x-close.svg' %}"
          alt="Remove {{ cause.name }}"
          class="remove-parent clickable"
          role="button"
          aria-label="Remove {{ cause.name }}"
        />
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <!-- 6. Giving Skills Section -->
  <div class="forms-div">
    <div class="flex element-content-field justify-content-between">
      <div class="flex">
        <h3 class="big-text bold">Giving Skills</h3>
      </div>
      <div class="clickable edit-icons-text" id="edit-element-btn">
        <img
          src="{% static 'icons/add-element.svg' %}"
          alt=""
          id="edit-element-btn"
        />
        <p class="accent-text small-text" id="edit-element-btn">ADD NEW</p>
      </div>
    </div>

    <div class="element-form-field flex-column">
      <div class="forms-div relative">
        <label
          for="giving_skills"
          class="small-text required"
          id="giving_skills_label"
          >Giving Skills</label
        >
        <input
          type="text"
          id="giving_skills"
          placeholder="Select one or more skill you have that you can offer for a cause"
          class="input"
          aria-labelledby="giving_skills_label"
          aria-required="true"
          aria-haspopup="true"
          aria-expanded="false"
        />

        <!-- Dropdown for selecting skills -->
        <div
          class="absolute dropdown-list"
          id="skills-dropdown"
          role="listbox"
          aria-labelledby="what_i_care_about_label"
        >
          <h4 class="bold dropdown-h" id="skills-dropdown-title">
            Giving Skills
          </h4>
          <div class="dropdown-ul">
            {% for skill in skills %}
            <div
              class="checkbox-div justify-content-between align-items-center"
              role="option"
              aria-selected="false"
            >
              <label for="{{ skill.name }}" class="small-text icons-text">
                {{ skill.name }}
              </label>
              {% if skill in user_skills %}
              <input
                type="checkbox"
                name="skills"
                id="{{ skill.name }}"
                class="skills-check skill-causes-items"
                value="{{ skill.id }}"
                aria-labelledby="skills-dropdown-title"
                checked
              />
              {% else %}
              <input
                type="checkbox"
                name="skills"
                id="{{ skill.name }}"
                class="skills-check skill-causes-items"
                value="{{ skill.id }}"
                aria-labelledby="skills-dropdown-title"
              />
              {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="dropdown-btn">
            <div
              class="button dark-button"
              id="skills-btn"
              role="button"
              aria-label="Save selected skills"
            >
              Save
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          data-id="why_i_give"
          id="save-element-btn"
        >
          Done
        </div>
      </div>
    </div>
  </div>

  <!-- Container for displaying selected skills -->
  <div
    class="d-flex items-container"
    aria-live="polite"
    aria-relevant="additions removals"
  >
    {% for skill in skills %} {% if skill in user_skills %}
    <div class="flex items-box skills-items" role="listitem">
      <div class="icons-text">
        <p>{{ skill.name }}</p>
      </div>
      <div>
        <img
          src="{% static '/icons/x-close.svg' %}"
          alt="Remove {{ skill.name }}"
          class="remove-parent clickable"
          role="button"
          aria-label="Remove {{ skill.name }}"
        />
      </div>
    </div>
    {% else %}
    <div class="d-none items-box skills-items" role="listitem">
      <div class="icons-text">
        <p>{{ skill.name }}</p>
      </div>
      <div>
        <img
          src="{% static '/icons/x-close.svg' %}"
          alt="Remove {{ skill.name }}"
          class="remove-parent clickable"
          role="button"
          aria-label="Remove {{ skill.name }}"
        />
      </div>
    </div>
    {% endif %} {% endfor %}
  </div>

  <hr class="line" />

  <!-- 7. My Organizations and Causes Section -->
  <div class="forms-div">
    <div class="flex element-content-field justify-content-between">
      <div class="flex">
        <h3 class="big-text bold">My Organizations and Causes</h3>
      </div>
      <div class="clickable edit-icons-text" id="edit-element-btn">
        <img
          src="{% static 'icons/add-element.svg' %}"
          alt=""
          id="edit-element-btn"
        />
        <p class="accent-text small-text" id="edit-element-btn">ADD NEW</p>
      </div>
    </div>

    <div class="element-form-field d-flex flex-column gap-16">
      <!-- Organization search -->
      <div class="forms-div relative">
        <label for="search-org" id="search-org-label"
          >My Organizations and Causes</label
        >
        <h3 class="heading">Find Your Charity or Cause</h3>
        <div class="input organizations-search" role="search">
          <img
            src="{% static 'icons/search.svg' %}"
            alt=""
            aria-hidden="true"
          />
          <input
            type="text"
            id="search-org"
            placeholder="Find Your Charity or Cause"
            class="organizations-search-input"
            aria-labelledby="search-org-label"
          />
        </div>

        <!-- Dropdown for displaying search results -->
        <div
          class="absolute dropdown-list"
          id="organizations-dropdown"
          role="listbox"
          aria-labelledby="search-org-label"
        >
          <h4 class="bold dropdown-h">Charities</h4>
          <div id="org-list"></div>
          <div class="organization-footer bold">
            Show the world your good side
          </div>
        </div>
      </div>

      <!-- Add organization manually -->
      <div class="d-flex flex-column">
        <div
          class="add-manually"
          id="organization-add-manually"
          role="button"
          aria-expanded="false"
          aria-controls="add-user-organization"
        >
          <img
            src="{% static 'icons/add-manually.svg' %}"
            alt=""
            aria-hidden="true"
          />
          <p>Add Manually</p>
        </div>
        <div class="" id="add-user-organization" aria-hidden="true">
          <label
            for="user-organization"
            class="bold"
            id="user-organization-label"
            >My Organizations or Event Name</label
          >
          <input
            type="text"
            class="input"
            id="user-organization"
            aria-labelledby="user-organization-label"
            limit="40"
          />
          <button
            type="button"
            class="forms-submit-button button dark-button clickable"
            id="custom-org-btn"
            aria-label="Save custom organization"
          >
            Save
          </button>
        </div>
      </div>

      <div class="d-flex">
        <div
          class="forms-submit-button button dark-button"
          id="save-element-btn"
        >
          Done
        </div>
      </div>
    </div>
  </div>

  <!-- Container for displaying selected organizations -->
  <div
    class="d-flex items-container"
    id="org-boxes"
    aria-live="polite"
    aria-relevant="additions removals"
  >
    <!-- JavaScript will add organizations here -->
    {% for organization in pledge_organizations %}
    <div
      class="flex organization-items-box items-box clickable add-manual-element"
      role="listitem"
    >
      <div class="icons-text">
        <img src="{{ organization.logo }}" alt="" class="organization-logo" />
        <p>{{ organization.name }}</p>
        <input
          type="hidden"
          name="plegde_organizations[]"
          value="{{ organization.id }}"
        />
      </div>
      <img
        src="{% static '/icons/x-close.svg' %}"
        alt="Remove {{ organization.name }}"
        class="remove-parent clickable"
        role="button"
        aria-label="Remove {{ organization.name }}"
      />
    </div>
    {% endfor %} {% for organization in user_organizations %}
    <div
      class="flex organization-items-box items-box clickable add-manual-element"
      role="listitem"
    >
      <div class="icons-text">
        <p>{{ organization.name }}</p>
        <input
          type="hidden"
          name="user_organizations[]"
          value="{{ organization.name }}"
        />
      </div>
      <img
        src="{% static '/icons/x-close.svg' %}"
        alt="Remove {{ organization.name }}"
        class="remove-parent clickable"
        role="button"
        aria-label="Remove {{ organization.name }}"
      />
    </div>
    {% endfor %}
  </div>

  <!-- Error message display -->
  {% if error %}
  <div class="danger-text forms-warning">
    <img src="{% static 'icons/error.svg' %}" alt="Error icon" />
    {{ error }}
  </div>
  {% endif %}

  <!-- Submit button -->
  <button type="submit" class="forms-submit-button button dark-button">
    Launch Profile
  </button>
</form>
{% endblock %} {% block page_scripts %}
<script>
  // Define static URLs for use in JavaScript
  const STATIC_URLS = {
    locationIcon: "{% static 'icons/location.svg' %}",
    verticalLineIcon: "{% static 'icons/vertical-line.svg' %}",
    closeIcon: "{% static 'icons/x-close.svg' %}",
  };
</script>
<script src="{% static 'scripts/create-profile.js' %}"></script>
<script src="{% static 'scripts/preview-profile.js' %}"></script>
<script src="{% static 'scripts/what_care_about.js' %}"></script>
<script src="{% static 'scripts/organization-search.js' %}"></script>
{% endblock %}
