{% extends "signup-flow.html" %}
{% load static %}

{% block page_title %}Review and Launch Your Profile{% endblock %}

{% block page_styles %}
  <link href="{% static 'styles/preview_profile.css' %}" rel="stylesheet"  >
{% endblock %}

{% block page_body %}
<!-- Main container -->
<div class="form-header">
  <h1 class="small-heading">Review <span class="d-sm-none">and Launch </span>Your Profile</h1>
  <p class="">Take a moment to double-check your details. Once you’re ready, hit submit and share your profile with the world!</p>
</div>

<form
  class="d-flex flex-column gap-32 align-items-start forms"
  enctype="multipart/form-data"
  action="{% url 'preview_profile' %}"
  method="POST"
  novalidate
>
  {% csrf_token %}

  {% include 'edit-user-info-form.html' with user=user causes=causes user_causes=user_causes pledge_organizations=pledge_organizations user_organizations=user_organizations %}

  <!-- Submit button -->
  <button type="submit" class="forms-submit-button button dark-button">Launch Profile</button>
</form>
{% endblock %}

{% block page_scripts %}
  <script>
    // Define static URLs for use in JavaScript
    const STATIC_URLS = {
      locationIcon: "{% static 'icons/location.svg' %}",
      verticalLineIcon: "{% static 'icons/vertical-line.svg' %}",
      closeIcon: "{% static 'icons/x-close.svg' %}",
      page_url: "{% url "clear_profile_picture" %}",
      csrf_token: "{{ csrf_token }}",

    };
  </script>
  <script src="{% static 'scripts/create-profile/main.js' %}"  type="module"></script>
  <script src="{% static 'scripts/preview-profile.js' %}"></script>
  <script src="{% static 'scripts/what-care-about/main.js' %}"  type="module"></script>
  <script src="{% static 'scripts/remove-profile-pic.js' %}"></script>
{% endblock %}