{% extends "layout.html" %}
{% load static %}

{% block title %}{{ userInfo.first_name|capfirst }} {{ userInfo.last_name|capfirst }} | MasterGiver {% endblock %}

{% block styles %}
    <link href="{% static 'styles/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="d-none d-lg-flex">
        {% include "header.html" %}
    </div>
    <div></div>
    {% include 'profile-view.html' with causes=causes user_causes=user_causes user_skills=user_skills pledge_organizations=pledge_organizations user_organizations=user_organizations is_profile=is_profile %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/expandable-box.js' %}"></script>
{% endblock %}