{% extends "layout.html" %}
{% load static %}

{% block title %}{{ user.username|capfirst }}  Profile{% endblock %}

{% block styles %}
    <link href="{% static 'styles/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
    {% include "header.html" %}
    {% include 'profile-view.html' with causes=causes user_causes=user_causes user_skills=user_skills pledge_organizations=pledge_organizations user_organizations=user_organizations is_profile=is_profile %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'scripts/expandable-box.js' %}"></script>
{% endblock %}